.userinfo {
  display: flex;
  height: auto;
  width: 100%;
  padding-top: 100px;
  background-color: var(--purple);
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: var(--black);
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  position: static;
}

.name {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-family: 'Bungee', cursive;
  font-weight: 400;
  align-items: center;
  font-size: 30px;
}

.husky {
  flex-direction: row;
}

.fa-gratipay:hover {
  cursor: pointer;
}

.heart {
  color: var(--lightgreen)
}

@media only screen and (min-width:1024px) {
  .userinfo {
    flex: 0 0 400px;
    padding-top: 20px;
    margin-left: 30px;
    margin-top: 1.5em;
    border-radius: 40px;
  }
}