.tweets-list {
  display: flex;
  width: 100%;
  flex-direction: column; 
}

article {
  display: flex;
  width: 100%;
  flex-direction: column; 
  border: solid;
  border-color: var(--black);
  border-width: 3px; 
  padding: 0.5em;
  background-color: var(--green);
  color: var(--black);
  border-radius: 20px;
}

article:hover {
  filter: drop-shadow(0px 0px 20px var(--lightpurple));
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  font-family: 'Bungee', cursive;
  font-weight: 400;
  font-size: 18px;
  align-items: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  flex-direction: row;
  padding-top: 0.5em;
  border-top: 3px;
  border-style: solid none none none;
}

.icon {
  display: flex;
  padding-left: 1em;
}

.icon:hover {
  color: var(--red);
  cursor: pointer;
}

.redflag {
  color: var(--red);
}

.blurtext {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.content {
  display: flex;
  padding-left: 1em;
  font-size: 18px;
  padding-bottom: 0.5em;
}

.tweeticon {
  font-size: 30px;
  color: var(--black)
}

.userhandler {
  color: var(--grey);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}