.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
  background-color: var(--purple);
  border-style: solid;
  color: var(--grey);
  border-color: var(--black);
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  position: static;
}

#darkheader {
  background-color: var(--darkgrey);
  color: var(--black);
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bungee", cursive;
  font-weight: 400;
  font-size: 30px;
}

.husky {
  flex-direction: row;
}

.fa-gratipay:hover {
  cursor: pointer;
}

.heart {
  color: var(--lightgreen);
}

.favs {
  color: var(--red);
}

@media only screen and (min-width: 1024px) {
  .userinfo {
    flex: 0 0 400px;
    padding-top: 20px;
    margin-left: 30px;
    margin-top: 1.5em;
    border-radius: 40px;
  }
}
